body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, Lucida Console;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5DC
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.classGrid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.figure {
  flex-basis: calc(33.33% - 4rem);
  border: 1px solid;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;

}

.gymClass {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem
}


.info-button {
  margin: 20px auto;
  display: table;
}


.register-button {

}

.gymInfo{
  padding: 20px;
  width: 50%;
  float: left;
  border: 1px solid gray;
  height: 400px;
}

.gymInfo1{
  border: 1px solid #ddd;
  width: 1000px;
}

.HomePage {
  margin: 0;
}

.navbar{
  background: beige;
}
.Parrafo{
  padding: 20px;
  width: 50%;
  float: left;
  text-align: justify;
  font-family: "Lucida Console",
}
